{
  "presets":["react","latest", "stage-2"],
  "plugins":[
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    ["import", { "style": true, "libraryName": "antd" }],
    ["transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ]
  ]
}